.Button {
	width: fit-content;

	font: var(--font-button);
	color: var(--color-zero);

	padding: var(--padding-small);
	border: 0;
	border-radius: var(--radius);
	background-color: var(--color-primary);
}


.Button--fill {
	width: 100%;
}

.Button--icon {
	min-width: 32px;
	width: 32px;
	height: 32px;

	background-color: transparent;	
	padding: 0;
}

.Button--rectangle {
	border-radius: 0px;
}