.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hover-indicator:hover {
    background: var(--color-);
    position: relative;
}

.center {
  text-align: center;
}

.error {
  color: var(--color-error)
}

.wrapper {
  width: 100%;

  padding: var(--padding-medium);
  border-radius: var(--radius);

  background-color: var(--color-secondary);
}

.shadow {
  box-shadow: 1px 1px var(--shadow) 0px rgba(0,0,0,0.35);
}



/************* BORDER *************/
.border-none {
  border: 0;
}

.br-none {
  border-radius: 0;
}

/************* BACKGROUND *************/

.bg-none {
  background: transparent;
}

/************* SIZE *************/

.screen-height {
  height: 100vh;
}

.screen-width {
  width: 100vh;
}

/************* FLEX *************/

.flex-col {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  
  justify-content: flex-start;
  align-items: center;
}

.flex-row.space-between {
  justify-content: space-between;
}

.flex-col.space-between {
  align-items: space-between;
}


.all-center {
  justify-content: center;
  align-items: center;
}

.gap-tiny {
  gap: var(--gap-tiny);
}

.gap-small {
  gap: var(--gap-small);
}

.wrap {
  flex-wrap: wrap;
}


/****** ANIMATIONS ******/

.slide-corner {
  animation: animatedBackground 2s cubic-bezier(.68,-0.55,.27,1.55) 1s forwards;
}

@keyframes animatedBackground {
    0% { 
      background-position: center; 
    }
    100% { 
      background-position: left 0; 
      background-size: clamp(70px, 20%, 20%)
    }
}