.Card {
	display: flex;
	gap: var(--spacing-gap-big);
}

.Card--row {
	flex-direction: row;
}

.Card--column {
	flex-direction: column;
}

.Card--row > .Card__cover {
	width: 42%;
}

.Card--column > .Card__cover {
	width: 100%;
}

.Card__cover {
	height: 381px;

	flex-shrink: 0;
	border-radius: 16px;
}

.Card__cover--full {
	width: 100%;
}

.Card__content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-gap-big);
}

.Card__title {
	text-align: center;
}

.Card__description {
	text-align: center;
}

.Card__action {
	text-align: center;
}